<h3 mat-dialog-title class="text-center">Fatura Ekle</h3>
<div mat-dialog-content>
    <div>
        <form (submit)="addInvoice()" class="overflow-hidden text-sm">
            <h1 class="text-l mt-3">Fatura Adı:</h1>
            <mat-form-field class="w-auto" appearance="fill">
                <mat-label>Ad</mat-label>
                <input [(ngModel)]="data.name" onkeydown="return /[a-z]/i.test(event.key)" required minlength="2" maxlength="20" name="name" matInput>
            </mat-form-field>
            <h1 class="text-l">Fatura Detayı:</h1>
            <mat-form-field class="w-auto" appearance="fill" ü>
                <mat-label>Detay</mat-label>
                <input [(ngModel)]="data.detail" onkeydown="return /[a-z]/i.test(event.key)" required minlength="2" maxlength="50" name="lastName" matInput>
            </mat-form-field>
            <h1 class="text-l">Ücret:</h1>
            <mat-form-field class="w-auto" appearance="fill">
                <mat-label>Ücret</mat-label>
                <input [(ngModel)]="data.price" required type="number" oninput="validity.valid||(value='');" min="1" max="10000" name="price" matInput>
            </mat-form-field>
            <div class="flex justify-between">
                <div mat-dialog-actions>
                    <button class="bg-slate-400" mat-button [mat-dialog-close]="" cdkFocusInitial>Cancel</button>
                </div>
                <div mat-dialog-actions>
                    <button type="submit" class="bg-blue-600    " mat-button [mat-dialog-close]="data"
                        cdkFocusInitial>Add</button>
                </div>
            </div>
        </form>
    </div>

</div>