<div [ngStyle]="{'background-image': getUrl()}" class="h-full w-full">    
    <div *ngIf="isUser" class="flex justify-center relative">
        <mat-card class="max-w-xs absolute translate-x-0 translate-y-1/4">
            <form (submit)="onUserSubmit()" class="text-center">
                <div class="flex space-x-2 justify-center mb-6">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle (click)="isUserFunc()" value="userL">Müşteri</mat-button-toggle>
                        <mat-button-toggle (click)="isKurumFunc()" value="kurumL">Kurum</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <mat-card-title>Müşteri Kaydı</mat-card-title>
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>
                            Ad
                        </mat-label>
                        <input matInput required minlength="3" maxlength="15" type="text" name="firstName" id="firstName" placeholder=""
                            [(ngModel)]="firstName">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            Soyad
                        </mat-label>
                        <input matInput required minlength="3" maxlength="15" type="text" name="lastName" id="lastName" placeholder=""
                            [(ngModel)]="lastName">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            TC Kimlik Numarası
                        </mat-label>
                        <input matInput required type="number" name="tc" id="tc" placeholder="" [(ngModel)]="tc">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            Mail
                        </mat-label>
                        <input matInput required type="email" name="mail" id="userMail" placeholder="example@gmail.com"
                            [(ngModel)]="userRegisterMail">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            Şifre
                        </mat-label>
                        <input matInput required type="password" name="password" id="userPassword" placeholder=""
                            [(ngModel)]="userRegisterPassword">
                    </mat-form-field>
                </mat-card-content>
                <div>
                    <a (click)="loginNav()" class=" underline cursor-pointer text-red-400 mr-8">Giriş Yap</a>
                    <button type="submit" mat-button class="bg-blue-500">Kayıt Ol</button>
                </div>
            </form>
        </mat-card>
    </div>
    
    <div *ngIf="!isUser" class="flex justify-center relative">
        <mat-card class="max-w-xs absolute translate-x-0 translate-y-1/4">
            <form (submit)="onKurumSubmit()" class="text-center">
                <div class="flex space-x-2 justify-center mb-6">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle (click)="isUserFunc()" value="userL">Müşteri</mat-button-toggle>
                        <mat-button-toggle (click)="isKurumFunc()" value="kurumL">Kurum</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <mat-card-title>Kurum Kaydı</mat-card-title>
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>
                            Kurum Adı
                        </mat-label>
                        <input matInput required type="text" name="name" id="name" placeholder="Vakıfbank T.A.O." [(ngModel)]="name">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            Kurum Detayı
                        </mat-label>
                        <input matInput required type="text" name="detail" id="detail" placeholder="Bankacılık" [(ngModel)]="detail">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            Mail
                        </mat-label>
                        <input matInput required type="email" name="mail" id="kurumMail" placeholder="example@gmail.com" [(ngModel)]="kurumRegisterMail">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            Şifre
                        </mat-label>
                        <input matInput required type="password" name="kurumPassword" id="password" placeholder=""
                            [(ngModel)]="kurumRegisterPassword">
                    </mat-form-field>
                </mat-card-content>
                <div>
                    <a (click)="loginNav()" class=" underline cursor-pointer text-red-400 mr-8">Giriş Yap</a>
                    <button type="submit" mat-button class="bg-blue-500">Kayıt Ol</button>
                </div>
            </form>
        </mat-card>
    </div>

</div>

