<mat-toolbar>
    <span class="m-auto">Faturalarım</span>
    <button mat-button (click)="logout()" class="bg-red-500">
        Çıkış
        <mat-icon aria-hidden="false" aria-label="Example logout icon" fontIcon="logout" class=""></mat-icon>
    </button>
</mat-toolbar>
<div class="mt-4 text-end">
    <mat-form-field appearance="fill">
        <mat-label>Fatura Durumu</mat-label>
        <mat-select [(value)]="selected">
            <mat-option (click)="allData()" value="all">Hepsi</mat-option>
            <mat-option (click)="filterData(true)" value="true">Ödenmiş</mat-option>
            <mat-option (click)="filterData(false)" value="false">Ödenmemiş</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="h-full">
    <table mat-table [dataSource]="currentData" class="mat-elevation-z8 w-full h-full">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Fatura Adı </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Ücret </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Durum </th>
            <td mat-cell *matCellDef="let element"> 
                <a *ngIf="element.status === true" >
                    Ödenmiş
                </a>
                <a class="text-red-500" *ngIf="element.status === false" >
                    Ödenmemiş
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef> Detay </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon (click)="invoiceDetail(element.id)" class="cursor-pointer" aria-hidden="false"
                    aria-label="Example info icon" fontIcon="info"></mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Sil </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon (click)="deleteInvoice(element.id)" class="cursor-pointer" *ngIf="element.status === false"
                    aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"></mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>