<mat-toolbar>
    <span class="m-auto">Kredi Kartlarım</span>
    <button mat-button (click)="logout()" class="bg-red-500">Çıkış
        <mat-icon aria-hidden="false" aria-label="Example logout icon" fontIcon="logout" class=""></mat-icon>
    </button>
</mat-toolbar>

<div *ngIf="myCards.length < 2" class="ml-6 mt-6">
    <button (click)="addCard()" mat-button class="bg-blue-600">Kart ekle</button>
</div>


<div *ngFor="let card of myCards">
    <mat-card class="max-w-xs bg-yellow-100 mt-6 ml-6">
        <mat-card-title>{{card.bankName}}</mat-card-title>
        <mat-card-subtitle>{{card.userName}}</mat-card-subtitle>
        <mat-card-content>
            <h1 class="text-lg font-medium mb-3">{{card.number}} </h1> 
            <div class="flex">
                <p class="font-medium">Valid Date: </p> <p class="ml-2 text-red-500">{{card.validDate}}</p>
            </div>
            <div class="flex">
                <p class="font-medium">CVC:</p> <p class="ml-2 text-red-500">{{card.cvc}}</p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="deleteCard(card.id)" mat-button class="bg-red-500">Sil</button>
            <button (click)="moneyCard(card.id)" mat-button class="bg-green-600">Para Yükle</button>
        </mat-card-actions>
    </mat-card>
</div>