<h1 mat-dialog-title class="text-center">Fatura Detayı</h1>
<div mat-dialog-content>
    <div class="flex">
        <p class="text-red-400">
            Fatura Adı:
        </p>
        <p class="ml-2">
            {{data.name}}
        </p>

    </div>
    <div class="flex">
        <p class="text-red-400">
            Fatura No:
        </p>
        <p class="ml-2">
            {{data.invoiceNumber}}
        </p>

    </div>
    <div class="flex">
        <p class="text-red-400">
            Fatura Detayı:
        </p>
        <p class="ml-2">
            {{data.detail}}
        </p>

    </div>
    <div class="flex">
        <p class="text-red-400">
            Kurum Adı:
        </p>
        <p class="ml-2">
            {{data.kurumName}}
        </p>

    </div>
    <div class="flex">
        <p class="text-red-400">
            Ücret:
        </p>
        <p class="ml-2">
            {{data.price}} TL
        </p>

    </div>
    <div class="flex">
        <p class="text-red-400">
            Tarih:
        </p>
        <p class="ml-2">
            {{currentMonth}}
        </p>

    </div>
    <div *ngIf="data.status === true">
        <div class="flex" >
            <p class="text-red-400">
                Durum:
            </p>
            <p class="ml-2">
                Ödendi
            </p>
        </div> 
    </div>
    <div *ngIf="data.status === false">
        <div class="flex" >
            <p class="text-red-400">
                Durum:
            </p>
            <p class="ml-2">
                Ödenmedi
            </p>
        </div> 
    </div>
</div>
<div mat-dialog-actions class="flex justify-center">
    <button class=" bg-slate-400" mat-button [mat-dialog-close]="data.id" cdkFocusInitial>Tamam</button>
</div>