<mat-toolbar>
    <span class="m-auto">Müşteriler</span>
    <button mat-button (click)="logout()" class="bg-red-500">Logout</button>
</mat-toolbar>

<div class="h-full">
    <table mat-table [dataSource]="data" class="mat-elevation-z8 w-full h-full">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="mail">
            <th mat-header-cell *matHeaderCellDef> Mail </th>
            <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>