<h1 mat-dialog-title class="text-center">Kurum Bilgileri</h1>
<div mat-dialog-content>
    <div class="flex">
        <p class="text-red-400">
            Kurum Adı:
        </p>
        <p class="ml-2">
            {{data.name}}
        </p>
    </div>
    <div class="flex">
        <p class="text-red-400">
            Kurum Detayı:
        </p>
        <p class="ml-2">
            {{data.detail}}
        </p>
    </div>
    <div class="flex">
        <p class="text-red-400">
            Kurum Maili:
        </p>
        <p class="ml-2">
            {{data.mail}}
        </p>
    </div>
</div>
<div mat-dialog-actions class="flex justify-center">
    <button class="bg-slate-400" mat-button [mat-dialog-close]="data.id" cdkFocusInitial>Tamam</button>
</div>