<mat-toolbar>
    <span class="m-auto">Müşteri Bilgileri</span>
    <button mat-button (click)="logout()" class="bg-red-500">Çıkış
        <mat-icon aria-hidden="false" aria-label="Example logout icon" fontIcon="logout" class=""></mat-icon>
    </button>
</mat-toolbar>
<div *ngIf="data" class="mt-8 ml-8">
    <form (submit)="onInfoChange()" class="max-w-2xl min-w-full w-1/2 text-sm">
        <h1 class="text-xl">Ad:</h1>
        <mat-form-field class="w-1/2" appearance="fill">
            <mat-label>Ad</mat-label>
            <input [(ngModel)]="firstName" name="firstName" matInput value="{{data.firstName}}">
        </mat-form-field>
        <h1 class="text-xl">Soyad:</h1>
        <mat-form-field class="w-1/2" appearance="fill">
            <mat-label>Soyad</mat-label>
            <input [(ngModel)]="lastName" name="lastName" matInput value="{{data.lastName}}">
        </mat-form-field>
        <h1 class="text-xl">Mail:</h1>
        <mat-form-field class="w-1/2" appearance="fill">
            <mat-label>Mail</mat-label>
            <input [(ngModel)]="mail" name="mail" type="mail" matInput value="{{data.mail}}">
        </mat-form-field>
        <h1 class="text-xl">TC Kimlik Numarası:</h1>
        <mat-form-field class="w-1/2" appearance="fill">
            <mat-label>TC</mat-label>
            <input [(ngModel)]="tc" name="tc" type="number" min="10000000000" max="99999999999" matInput value="{{data.tc}}">
        </mat-form-field>
        <div class="flex"> 
            <button mat-button class="bg-amber-400" type="submit">Güncelle</button>
        </div>
    </form>
</div>