<div class="h-full">
    <div class="w-1/4 absolute bg-yellow-200 h-full">
        <div>
            <mat-list>
                <mat-list-item (click)="navigate($event, fatura)" class="cursor-pointer hover:shadow-md">Faturalarım</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="navigate($event, user)" class="cursor-pointer hover:shadow-md">Müşteriler</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="navigate($event, info)" class="cursor-pointer hover:shadow-md">Kurum Bilgileri </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="ml-[25%] h-full">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>